alembic
apispec
apispec-webframeworks
bokeh
click
python-dateutil
email-validator
Flask
Flask-Bootstrap
Flask-Login
flask-swagger-ui
Flask-WTF
gitpython
gunicorn
marshmallow
numpy
oauthlib
openapi-spec-validator
psutil
psycopg2-binary
py-cpuinfo
pytest
python-dotenv
PyYAML
requests
SQLAlchemy
