alembic
apispec
apispec-webframeworks
bokeh
click
dacite
email-validator
Flask
Flask-Bootstrap
Flask-Login
flask-swagger-ui
Flask-WTF
gitpython
gunicorn
marshmallow
numpy
oauthlib
openapi-spec-validator
orjson
pandas
prometheus-client
prometheus-flask-exporter
psutil
psycopg2
py-cpuinfo
pytest>=7.0.0
python-dotenv
PyYAML
requests
tenacity
SQLAlchemy>=2
