alembic
apispec
apispec-webframeworks
bokeh
click
dacite
email-validator
Flask==2.2.3
Flask-Bootstrap
Flask-Compress
filprofiler
Flask-Login
flask-swagger-ui
Flask-WTF
Werkzeug==2.2.3
gitpython
gunicorn
marshmallow
numpy
oauthlib
openapi-spec-validator
orjson
pandas
prometheus-client
prometheus-flask-exporter
psutil
psycopg2
py-cpuinfo
pytest>=7.0.0
python-dotenv
PyYAML
requests
sigfig
SQLAlchemy>=2
tenacity
uuid7
