{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - {{ application }}{% else %}{{ application }}{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='app.css') }}" rel=stylesheet type=text/css />
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('app.index') }}">{{ application }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('app.login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('app.users') }}">Users</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/api/docs">API Docs</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('app.logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-trash submenu"></span>&nbsp; &nbsp; Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                    <p id="confirm-delete-message"></p>
                    <input id="delete-form-id" type="hidden" value="">
                    <input id="delete-form-action" type="hidden" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="confirm-delete-button" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
    <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% for category, message in messages %}
            <div align="center">
                <span class="flash-message">
                    <span class="glyphicon glyphicon-flash submenu"></span>
                    {{ message }}
                </span>
                <br>
            </div>
            {% endfor %}
        {% else %}
            <div align="center">
                <span class="flash-message"></span>
                <br>
            </div>
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap5.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".flash-message").fadeOut("slow");
    }, 2000); // <-- time in milliseconds
});

$("#confirm-delete").on("show.bs.modal", function(e) {
    $(this).find("#confirm-delete-message").html($(e.relatedTarget).data("message"));
    $(this).find("#delete-form-id").attr("value", $(e.relatedTarget).data("form-id"));
    $(this).find("#delete-form-action").attr("value", $(e.relatedTarget).data("href"));
});

$("#confirm-delete-button").click(function(e){
    $($("#delete-form-id").attr("value")).find("#delete").attr("type", "submit");
    $($("#delete-form-id").attr("value")).attr("action", $("#delete-form-action").attr("value"));
    $("#delete").click();
});
</script>
{% endblock %}
