{% block doc -%}
<!doctype html>
<html lang="en">
{%- block html %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.3/r-2.4.0/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="{{ url_for('static', filename='app.css') }}" rel=stylesheet type=text/css>
{% endblock %}
<title>{% block title %}{% if title %}{{ application }} - {{ title }}{% else %}{{ application }}{% endif %}{% endblock %}</title>
</head>
<body>
{% block body -%}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('app.index') }}">{{ application }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if current_user.is_anonymous %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('app.login') }}">Login</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{{ current_user.name }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('app.users') }}""><span class="glyphicon glyphicon-user submenu"></span> &nbsp; Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('app.hardwares') }}""><span class="glyphicon glyphicon-blackboard submenu"></span> &nbsp; Hardware</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/api/docs"><span class="glyphicon glyphicon-book submenu"></span> &nbsp; API Docs</a></li>
                        </ul>
                    </li>
                         <li><a href="{{ url_for('app.logout') }}">Logout</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span class="glyphicon glyphicon-trash submenu"></span>&nbsp; &nbsp; Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                    <p id="confirm-delete-message"></p>
                    <input id="delete-form-id" type="hidden" value="">
                    <input id="delete-form-action" type="hidden" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="confirm-delete-button" type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <!-- https://flask.palletsprojects.com/en/2.2.x/patterns/flashing/#flashing-with-categories -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% for category, message in messages %}
            <div align="center">
                <span class="flash-message">
                    <span class="glyphicon glyphicon-flash submenu"></span>
                    {{ message }}
                </span>
                <br>
            </div>
            {% endfor %}
        {% else %}
            <div align="center">
                <span class="flash-message"></span>
                <br>
            </div>
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    <br>
    <hr>
    <div style="display:inline-block; float: right; color: #918d8c;">
        Conbench {{ version_string_footer }} | <a href="/api/docs" target="_blank">api docs</a>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.3/r-2.4.0/datatables.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".flash-message").fadeOut("slow");
    }, 2000); // <-- time in milliseconds
});

function enable_search_query_string(data_table) {
    $(data_table).on('search.dt', function () {
        var current_search_value = $('.dataTables_filter input').val();
        var new_url = window.location.protocol + "//" + window.location.host + window.location.pathname
        if (current_search_value) {
            new_url += "?search=" + encodeURIComponent(current_search_value)
        }
        window.history.replaceState(null, document.title, new_url)
    });

    $(document).ready(function() {
        var table =  $(data_table).DataTable();
        {% if search_value %}
            table.search("{{ search_value }}").draw();
        {% endif %}
    });

}

/*
INFO:
    Adds search ability for specific columns in the DataTable,
    Creates a *table* instance and update the header with the dropdown menu
    List of unique values based on the column data fields are added
    Output is yield based on the selected option from the dropdown menu

INPUTS:
 data_table_id: string
 column_indexes: array
 */
function dropdown_column_search(data_table_id, column_indexes) {
    $(document).ready(function() {
        var table = $(data_table_id).DataTable();
        table.columns(column_indexes).every(function() {
            var that = this;
            var reset = ""
            var mySelectList = $("<select class='custom-search-box'></select>")
                //stops ordering event trigger when clicked on a menu selection
                .on("click", function (e){
                    e.stopImmediatePropagation()
                })
                .appendTo(this.header())
                .on("change", function() {
                    currentValue = $(this).val()
                    //search for empty string value for the selected column
                    if(currentValue === ""){
                        that.search('^$', true, false).draw();
                    }
                    //reset search for the selected column
                    else if(currentValue == "All"){
                        that.search('').draw();
                    }
                    // select for non-empty values
                    else{
                        that.search(currentValue).draw();
                    }
                    console.log(currentValue)
                });
            mySelectList.append(
                $(`<option value="All">${reset}</option>`)
            );
            this.cache("search").unique().sort().each(function(param) {
                //trim the whitespaces (setting to empty string) before appending to drop-down list
                param = param.trim()
                // check for empty string
                // if false update the non-empty values to the drop-down list
                // else append string (Empty)
                if (param !== "") {
                    mySelectList.append(
                        $(`<option value="${param}">${param}</option>`)
                    );
                } else {
                    mySelectList.append(
                        $(`<option value="${param}">(Empty)</option>`)
                    );
                }
            });
        });
    });
}

/*
INFO:
    Adds free text search ability for specific columns, based on selected column indexes.
    Based on the indexes of the columns, input boxes are created. The search is triggered on
    key press.
INPUTS:
 data_table_id: string
 column_indexes: array
 */
function free_text_column_search(data_table_id, column_indexes) {
    $(document).ready(function() {
        var table = $(data_table_id).DataTable();
        table.columns(column_indexes).every(function() {
            var that = this;
            var title = this.header().textContent;
            $(`<br /><input class="custom-input-text custom-search-box" type="text" placeholder="🔍 filter"
                onClick="if(event.stopPropagation!==undefined){event.preventDefault(); event.stopPropagation();}event.cancelBubble=true;"/>`)
                .appendTo(this.header())
                .on('keyup change clear', function() { //column search/sorting triggered on keypress
                            that
                            .search(this.value)
                            .draw();
            });
        });
    })
}

/*
INFO:
    Function to check unique value count and set the required search type.
        - Unique values <10 & >1 [specific_column_search]: drop-down based search is implemented
        - Unique values >10 [free_text_column_search]: free text search is implemented
        - Search is not enabled with single OR null data points and a message is logged on console
        - If any unidentified value (beyond assumed definitions) is encountered, a message is logged on console
INPUT:
    data_table_id: string
 */
function column_search_implementation(data_table_id) {
    $(document).ready(function() {
        var table = $(data_table_id).DataTable();
        var unique_count = [];
        table.columns().every( function () {
            var current = this;
            //array of unique count for data points within each column
            unique_count.push(current.data().unique().count())
        });
        console.log(unique_count)
        unique_count.forEach(function (item, index) {
            if (item < 10 && item > 1) {
                dropdown_column_search(data_table_id, index)
            }
            else if (item >= 10){
                free_text_column_search(data_table_id, index)
            }
            else if (item == 1) {
                console.log("Search isn't enabled with one/null data point")
                // keeping this placeholder for future addition of a message/note
                $(`<p></p>`).appendTo(
                    table.columns([index]).header())
            }
            else{
                console.log("Unidentified value encountered")
            }
        });
    })
}

$("#confirm-delete").on("show.bs.modal", function(e) {
    $(this).find("#confirm-delete-message").html($(e.relatedTarget).data("message"));
    $(this).find("#delete-form-id").attr("value", $(e.relatedTarget).data("form-id"));
    $(this).find("#delete-form-action").attr("value", $(e.relatedTarget).data("href"));
});

$("#confirm-delete-button").click(function(e){
    $($("#delete-form-id").attr("value")).find("#delete").attr("type", "submit");
    $($("#delete-form-id").attr("value")).attr("action", $("#delete-form-action").attr("value"));
    $("#delete").click();
});
</script>
{% endblock %}

{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}
