{% extends "app.html" %}

{% block app_content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Compare</li>
        {% if type == "batch" %}
        <li class="breadcrumb-item active">
          <a href="{{ compare_runs_url }}">Runs</a>
        </li>
        <li class="breadcrumb-item active">Batches</li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ url_for('app.batch', batch_id=baseline_id) }}">Baseline</a>
           ...
          <a href="{{ url_for('app.batch', batch_id=contender_id) }}">Contender</a>
        </li>
        {% elif type == "run" %}
        <li class="breadcrumb-item active">Runs</li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ url_for('app.run', run_id=baseline_id) }}">Baseline</a>
           ...
          <a href="{{ url_for('app.run', run_id=contender_id) }}">Contender</a>
        </li>
        {% endif %}
      </ol>
    </nav>

    {% if baseline_run and contender_run %}
      {% if baseline_run.commit.display_message and contender_run.commit.display_message %}
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" align="right" style="border-style:none">
          Baseline:
          <a href="{{ baseline_run.commit.url }}">{{ baseline_run.commit.display_message }}</a>
          <br/>
          Contender:
          <a href="{{ contender_run.commit.url }}">{{ contender_run.commit.display_message }}</a>
          </li>
         </ul>
      </div>
    </div>
      {% endif %}
    {% endif %}

{% if plot_history %}
<div class="col-md-12" >
<h6>Top Outliers</h6>
  <div id="bokeh-carousel" style="visibility: hidden;" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
	  <ol class="carousel-indicators">
	  {% if plot_history|length > 1 %}
        {% for plot in plot_history %}
          {% if loop.index == 1 %}
          <li data-target="#bokeh-carousel" data-slide-to="0" class="active"></li>
          {% else %}
	      <li data-target="#bokeh-carousel" data-slide-to="{{ loop.index - 1}}"></li>
          {% endif %}
        {% endfor %}
      {% endif %}
	  </ol>
      {% for plot in plot_history %}
        {% if loop.index == 1 %}
        <div class="item active">
        {% else %}
        <div class="item">
        {% endif %}
        <div align="center">
        <a href="{{ outlier_urls[loop.index - 1] }}">
          {{ outlier_names[loop.index - 1] }}
        </a>
        </div>
        <div id="plot-history-{{ loop.index - 1}}" align="center"></div>
        </div>
      {% endfor %}
	  {% if plot_history|length > 1 %}
        <br>
        <br>
        <br>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}


    <div class="row">
        <div class="col-md-12">
            <table id="benchmarks" class="table table-striped table-bordered table-hover">
              <caption>
                {% if comparisons %}
                <span id="comparisons-tooltip" data-toggle="tooltip" data-html="true" data-placement="bottom" title="
                Based on the z-score,
                {{ regressions }}
                of these {{ comparisons|length }} benchmarks were regressions,
                and {{ improvements }} were improvements."
                >
                Comparisons
                <span class="glyphicon glyphicon-arrow-down"></span> <b>{{ (100 * regressions / comparisons|length) | round(2) }}%</b>
                <span class="glyphicon glyphicon-arrow-up"></span> <b>{{ (100 * improvements / comparisons|length) | round(2) }}%</b>
                </span>
                {% else %}
                Comparisons
                {% endif %}
                {% include 'units-tooltip.html' %}
              </caption>
                <thead>
                    <tr>
                        <th scope="col" style="white-space: nowrap;">Z-Score</th>
                        <th scope="col">Change</th>
                        <th scope="col">Lang</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Benchmark</th>
                        <th scope="col">Baseline</th>
                        <th scope="col">Contender</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in comparisons %}
                    {% if (c.contender is not none or c.contender_error) and (c.baseline is not none or c.baseline_error) %}
                    <tr>
                         {% if c.contender_z_score is not none %}
	                       {% if c.contender_z_regression %}
	                         <td style="color: #ff7c43;">{{ "%.3f"|format(c.contender_z_score) }}</td>
	                       {% elif c.contender_z_improvement %}
	                         <td style="color: #61B329;">{{ "%.3f"|format(c.contender_z_score) }}</td>
	                       {% else %}
	                         <td>{{ "%.3f"|format(c.contender_z_score) }}</td>
	                       {% endif %}
                         {% else %}
                           <td></td>
                         {% endif %}

                         {% if c.contender is not none and c.baseline is not none %}
                           <td>{{ c.change }}</td>
                         {% else %}
                           <td></td>
                         {% endif %}

                         <td>{{ c.language }}</td>

                         <td>
                           {% if type == "batch" %}
                             <div>{{ c.batch }}</div>
                           {% else %}
                             {% if c.contender is not none and c.baseline is not none %}
                               <a href="{{ c.compare_batches_url }}">
                                 <div>{{ c.batch }}</div>
                               </a>
                             {% else %}
                               <div>{{ c.batch }}</div>
                             {% endif %}
                           {% endif %}
                         </td>

                         <td>
                           {% if (c.contender is not none or c.contender_error) and (c.baseline is not none or c.baseline_error) %}
                             <a href="{{ c.compare_benchmarks_url }}">
                               <div>{{ c.benchmark}}</div>
                             </a>
                           {% else %}
                             <div>{{ c.benchmark}}</div>
                           {% endif %}
                         </td>

                         {% if c.baseline_error is not none %}
                           <td><a href="{{ url_for('app.benchmark', benchmark_id=c.baseline_id) }}">
                               <i class="glyphicon glyphicon-exclamation-sign text-danger"
                                  data-toggle="tooltip" data-placement="top" title="Has error">
                               </i></a>
                           </td>
                         {% elif c.baseline is none %}
                           <td></td>
                         {% else %}
                           <td style="white-space: nowrap;">{{ c.baseline }}</td>
                         {% endif %}

                         {% if c.contender_error is not none %}
                           <td><a href="{{ url_for('app.benchmark', benchmark_id=c.contender_id) }}">
                               <i class="glyphicon glyphicon-exclamation-sign text-danger"
                                  data-toggle="tooltip" data-placement="top" title="Has error">
                               </i></a>
                           </td>
                         {% elif c.contender is none %}
                           <td></td>
                         {% else %}
                           <td style="white-space: nowrap;">{{ c.contender }}</td>
                         {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="commit-date">Baseline Commit Date</label>
            <input type="date" id="commit-date" name="commit-date" value="">
        </div>
        <div class="form-group">
            <label for="baseline-commit">Baseline Commit</label>
            <select class="custom-select" name="baseline-commit" id="baseline-commit">
                <option value="" selected="selected">Please select baseline commit date</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hardware">Hardware</label>
            <select class="custom-select" name="hardware" id="hardware">
                <option value="" selected="selected">Please select baseline commit first</option>
            </select>
        </div>
        <div class="form-group">
            <label for="run-name">Run Name</label>
            <select class="custom-select" name="run-name" id="run-name">
                <option value="" selected="selected">Please select hardware first</option>
            </select>
        </div>
    </form>
    <form name="compare-runs" id="compare-runs"  method="get" action="">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block scripts %}
{{super()}}

{{ resources | safe }}




<script type="text/javascript">
var table = $('#benchmarks').dataTable( {
     "responsive": true,
     "order": [[0, 'asc']],
     "columnDefs": [{ "orderable": false, "targets": [5, 6] }]
});

enable_search_query_string('#benchmarks');

$(document).ready(function() {
   $('#unit-tooltip').tooltip()
});

$(document).ready(function() {
   $('#comparisons-tooltip').tooltip()
});

{% if plot_history %}
$(document).ready(function() {
    {% for plot in plot_history %}
        Bokeh.embed.embed_item({{ plot | safe }});
    {% endfor %}
    document.getElementById("bokeh-carousel").style.visibility = "visible";
});
{% endif %}


window.onload = function () {
    var commitRunMap = {{ commit_run_map|tojson|safe }};
    var commitDate = document.getElementById("commit-date");
    var baselineCommit = document.getElementById("baseline-commit");
    var hardware = document.getElementById("hardware");
    var runName = document.getElementById("run-name");

    commitDate.onchange = function () {
        runName.length = 1;
        hardware.length = 1;
        baselineCommit.length = 1
        for (var x in commitRunMap) {
            if (commitRunMap[x]["date"] == commitDate.value) {
                baselineCommit.options[baselineCommit.options.length] = new Option(x, x);
            }
        }
    }

    baselineCommit.onchange = function () {
        runName.length = 1;
        hardware.length = 1;
        for (var y in commitRunMap[this.value]["hardware"]) {
            hardware.options[hardware.options.length] = new Option(y, y);
        }
    }
    hardware.onchange = function () {
        runName.length = 1;
        var z = commitRunMap[baselineCommit.value]["hardware"][this.value];
        for (var i = 0; i < z.length; i++) {
            runName.options[runName.options.length] = new Option(z[i][0], z[i][1]);
        }
    }
}

document.getElementById('run-name').onchange = function () {
    var action = window.location.protocol + "//" + window.location.host + "/compare/runs/" + this.value + "..." + "{{ contender_run.id }}";
    document.getElementById('compare-runs').action = action;
};
</script>

{% endblock %}
