{% extends "app.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-12">
            <table id="hardwares" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hardware in hardwares %}
                    <tr>
                         <td>{{ hardware.id }}</td>
                         <td>
                           <a href="{{ url_for('app.hardware', hardware_id=hardware.id) }}">
                             <div>{{ hardware.name }}</div>
                           </a>
                         </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
var table = $('#hardwares').dataTable( {
    "responsive": true,
    "order": [[1, 'desc']],
} );

enable_search_query_string('#hardwares');

</script>
{% endblock %}
