{% extends "app.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-12">
            <table id="hardwares" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hardware in hardwares %}
                    <tr>
                         <td>{{ hardware.id }}</td>
                         <td>
                           <a href="{{ url_for('app.hardware', hardware_id=hardware.id) }}">
                             <div>{{ hardware.name }}</div>
                           </a>
                         </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
var table = $('#hardwares').dataTable( {
    "search": {"return": true},
    "responsive": true,
    "order": [[1, 'desc']],
} );

$('#hardwares').on( 'search.dt', function () {
    var current_search_value = $('.dataTables_filter input').val();
    var new_url =  window.location.protocol + "//" + window.location.host + window.location.pathname + "?search=" + encodeURIComponent(current_search_value)
    window.history.replaceState(null, document.title, new_url)
} );

$(document).ready(function() {
   var table =  $('#hardwares').DataTable();
   {% if search_value %}
        table.search("{{ search_value }}").draw();
   {% endif %}
});

</script>
{% endblock %}
