{% extends "app.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{{ url_for('app.hardwares') }}">Hardware</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ hardware.name }}</li>
      </ol>
    </nav>

<div class="row">
  <div class="col-md-2">
    <table id="hardwares" class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
              <th scope="col" style="background-color: #1F77B4; color:#FFFFFF">Specification</th>
              <th scope="col" style="background-color: #1F77B4; color:#FFFFFF">Value</th>
          </tr>
      </thead>
      <tbody>
        {% for k, v in hardware.items() %}
        <tr>
          <td>{{ k }}</td>
          <td><div class="ellipsis-700">{{ v }}</div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
</script>
{% endblock %}
