{% extends "app.html" %}
{% block app_content %}
  <h1>CI runs</h1>
  <div class="mt-3">
    {% for reponame, runobjs in repo_runs_map.items() %}
      <div class="row mb-5">
        <h4>
          Recent  CI runs for <strong>{{ reponame }}</strong>
        </h4>
        <!-- <hr class="border border-danger border-1 opacity-50"> -->
        <!-- https://getbootstrap.com/docs/5.2/content/tables/#responsive-tables -->
        <div class="table-responsive" style="margin-bottom: 50px">
          <!-- wow, the width:100% on the table below is really important, otherwise
     datatables might miscalculate the column widths, but only when using
     colspan in the header. I got that pointer in this thread:
     https://datatables.net/forums/discussion/comment/144435/#Comment_144435
     but otherwise spent way too much time debugging. This structure repeats,
     and only the _first_ table had properties
-->
          <table class="cb-runs-table table table-hover table-borderless small"
                 style="width:100%;
                        display: none">
            <thead>
              {# https://datatables.net/examples/basic_init/complex_header.html #}
              <tr>
                <th scope="colgroup" colspan="4" style="padding-bottom:0;" class="">Run</th>
                <th scope="colgroup" colspan="3" class="">Commit</th>
              </tr>
              <tr>
                <!-- add tooltip, saying that this is DB insertion time -->
                <th scope="col" style="width: 180px" class="cb-colgroup-run">creation time</th>
                <th scope="col" class="cb-colgroup-run">results</th>
                <th scope="col" class="reason-col cb-colgroup-run">reason</th>
                <th scope="col" style="width: 150px" class="cb-colgroup-run">hardware</th>
                <th scope="col" style="width: 170px" class="cb-colgroup-commit">author</th>
                <th scope="col" class="commit-col cb-colgroup-commit" style="width: 90px">hash</th>
                <th scope="col" class="cb-colgroup-commit">message</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% for r in runobjs %}
                <tr class="no-border">
                  <td>
                    <code><a href="{{ url_for('app.run', run_id=r.earliest_result.run_id) }}">{{ r.display_commit_time }}</a></code>
                    {% if r.any_result_failed %}
                      <i class="bi bi-exclamation-circle text-danger"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="This Run contains a benchmark result with an error"></i>
                    {% endif %}
                  </td>
                  <td>{{ r.result_count }}</td>
                  <td>
                    {% if r.earliest_result.run_reason %}
                      <div class="table-entry">{{ r.earliest_result.run_reason }}</div>
                    {% else %}
                      <div class="table-entry"></div>
                    {% endif %}
                  </td>
                  <td>
                    <span class="table-entry text-truncate d-inline-block"
                          style="max-width: 140px">{{ r.earliest_result.hardware.name }}</span>
                  </td>
                  <td>
                    <div class="table-entry">
                      {% if r.earliest_result.commit is not none %}
                        {% if r.earliest_result.commit.author_avatar_url is not none %}
                          <img alt="avatar"
                               src="{{ r.earliest_result.commit.author_avatar_url  }}"
                               height="25"
                               style="border-radius: 50%">
                          &nbsp;
                        {% endif %}
                        {{ r.earliest_result.commit.author_name }}
                      {% else %}
                        n/a
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    {% if r.earliest_result.commit is not none %}
                      {% if r.earliest_result.commit.commit_url is not none %}
                        <code><a href="{{ r.earliest_result.commit.commit_url }}">{{ r.earliest_result.commit.hash[:7] }}</a></code>
                      {% else %}
                        {# is this a valid scenario? when there's a hash, but no url? #}
                        {{ r.earliest_result.commit.hash[:7] }}
                      {% endif %}
                      <!--NOTE: enable full commit has search while maintaining partial hash display -->
                      <p style="display:none">{{ r.earliest_result.commit.hash }}</p>
                    {% else %}
                      n/a
                    {% endif %}
                  </td>
                  <td>
                    {% if r.earliest_result.commit is not none %}
                      {{ r.display_commit_msg }}
                    {% else %}
                      n/a
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function () {
      $('table.cb-runs-table').each(function() {
    //console.log('hallo! this:', this)
        $(this).DataTable({
        // the default default seems to be the first item in lengthMenu.
          "lengthMenu": [ 5, 10, 50, 75, 100, 250, 750 ],
        // but when pageLength is also set, then _this_ is the default.
          "pageLength": 10,
          "order": [[0, 'desc']],
        // https://datatables.net/reference/option/dom
        // put `l` to the bottom to show the "show N entries" menu at bottom
          //"dom": '<"row"<"col-6"l><"col-6"f>>rt<"row"<"col-6"i><".col-6"p>>',
          "dom": '<"row"<"d-flex flex-row-reverse p-0"fl>>rt<"row p-2"<"col-6"i><".col-6"p>>',
          "language": {
            "searchPlaceholder": "search across all columns",
          },
          "language": { search: '', searchPlaceholder: "search all columns" },
          initComplete: function () {
            var api = this.api();
          // reveal only after DOM modification is complete (reduce loading
          // layout shift artifacts)
            $('table.cb-runs-table').show();
            api.columns.adjust();
            $('.pagination').addClass('pagination-sm'); // add BS class for smaller pagination bar
          },
        })
      }
      );
    });




// For now, break with this functionality.
// See how this relates to
// https://www.datatables.net/extensions/searchpanes/
// a simpler approach might be
// https://datatables.net/forums/discussion/30747/prepopulating-the-search-text-box
// enable_search_query_string('table.cb-runs-table');
//

/* specify the HTML table id (string) for
 which search functionality should be enabled
*/
//column_search_implementation('table.cb-runs-table');

// Apply this custom search logic to each DataTablyfied <table> in the Dom
    $('table.cb-runs-table').each(
      function() {
        column_search_implementation($(this));
      }
    );
  </script>
{% endblock %}
