{% extends "app.html" %}

{% block app_content %}


<h1 class="display-3 text-center" style="margin-bottom: 40px">/ˈkɒnbɛnʧ/</h1>

{% for reponame, runobjs in repo_runs_map.items() %}
<div class="p-0">
  <h4>Recent runs for {{reponame}}</h4>
</div>
<hr class="border border-danger border-1 opacity-50">
<!-- https://getbootstrap.com/docs/5.2/content/tables/#responsive-tables -->
<div class="table-responsive" style="margin-bottom: 50px">
<!-- wow, the width:100% on the table below is really important, otherwise
     datatables might miscalculate the column widths, but only when using
     colspan in the header. I got that pointer in this thread:
     https://datatables.net/forums/discussion/comment/144435/#Comment_144435
     but otherwise spent way too much time debugging. This structure repeats,
     and only the _first_ table had properties
-->
<table class="cb-runs-table table table-hover" style="width:100%; display: none">
<thead>
    {# https://datatables.net/examples/basic_init/complex_header.html #}
    <tr>
        <th scope="colgroup" colspan="3">Run</th>
        <th scope="colgroup" colspan="3">Commit</th>
    </tr>
    <tr>
        <!-- add tooltip, saying that this is DB insertion time -->
        <th scope="col" style="width: 180px">insertion time</th>
        <th scope="col">results</th>
        <th scope="col" class="reason-col">reason</th>
        <th scope="col" style="width: 150px">hardware</th>
        <th scope="col" style="width: 170px">author</th>
        <th scope="col" class="commit-col" style="width: 90px">hash</th>
        <th scope="col">message</th>
    </tr>
</thead>

<tbody>
  {% for r in runobjs %}
  <tr>
    <td style="white-space: nowrap;">
        <a href="{{ url_for('app.run', run_id=r.run.id) }}">{{ r.ctime_for_table }}</a>
        {% if r.run.has_errors or r.run.error_info %}
            <i class="bi bi-exclamation-circle text-danger"
              data-toggle="tooltip"
              data-placement="top"
              title="This Run contains a benchmark result with an error, or is otherwise labeled as errored"></i>
        {% endif %}
    </td>

    <td>{{ r.result_count }}</td>

    <td>
      {% if r.run.reason %}
        <div class="table-entry">{{ r.run.reason }}</div>
      {% else %}
        <div class="table-entry"></div>
      {% endif %}
    </td>

    <td><div class="table-entry">{{ r.run.hardware.name }}</div></td>

    <td>
      <div class="table-entry">
        {% if r.run.commit.author_avatar_url is not none %}
          <img alt="avatar" src="{{ r.run.commit.author_avatar_url  }}" height="25" style="border-radius: 50%;">&nbsp;
        {% endif %}
        {{ r.run.commit.author_name }}
      </div>
    </td>

    <td>
      {% if r.run.commit.commit_url is not none %}
        <a href="{{ r.run.commit.commit_url }}">{{ r.run.commit.hash[:7] }}</a>
      {% else %}
        {# is this a valid scenario? when there's a hash, but no url? #}
        {{ r.run.commit.hash[:7] }}
      {% endif %}
      <!--NOTE: enable full commit has search while maintaining partial hash display -->
      <p style="display:none">{{ r.run.commit.hash }}</p>
    </td>
    <td>{{ r.commit_message_short }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endfor %}

{% endblock %}


{% block scripts %}
{{super()}}
<script>
$(document).ready(function () {
  $('table.cb-runs-table').each(function() {
    //console.log('hallo! this:', this)
    $(this).DataTable({
        // the default default seems to be the first item in lengthMenu.
        "lengthMenu": [ 5, 10, 50, 75, 100, 250, 750 ],
        // but when pageLength is also set, then _this_ is the default.
        "pageLength": 10,
        "order": [[0, 'desc']],
        // https://datatables.net/reference/option/dom
        // put `l` to the bottom to show the "show N entries" menu at bottom
        "dom": 'lfrt<"row"<"col-6"i><".col-6"p>>',
        "language": {
            "searchPlaceholder": "search across all columns",
        },
        initComplete: function () {
          var api = this.api();
          // reveal only after DOM modification is complete (reduce loading
          // layout shift artifacts)
          $('table.cb-runs-table').show();
          api.columns.adjust();
          $('.pagination').addClass('pagination-sm'); // add BS class for smaller pagination bar
        },
      })
    }
  );
});




// For now, break with this functionality.
// See how this relates to
// https://www.datatables.net/extensions/searchpanes/
// a simpler approach might be
// https://datatables.net/forums/discussion/30747/prepopulating-the-search-text-box
// enable_search_query_string('table.cb-runs-table');
//

/* specify the HTML table id (string) for
 which search functionality should be enabled
*/
//column_search_implementation('table.cb-runs-table');

// Apply this custom search logic to each DataTablyfied <table> in the Dom
$('table.cb-runs-table').each(
  function() {
    column_search_implementation($(this));
  }
);
</script>
{% endblock %}
