{% extends "app.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>{{ title }}</h1>
<br/>
<div class="row">

<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Returning user? <a href="{{ url_for('app.login') }}">Sign In</a></p>
</div>

<div class="col-md-8">
  <div class="jumbotron">
    <div class="media">

  <div class="media-body">
    <h4 class="media-heading">Con·bench</h4>
     <h4>/kənˈben(t)SH/</h4>
     <h5><i>noun</i></h5>
     <h3>Language-independent Continuous Benchmarking (CB) Framework</h3>
  </div>
  <div class="media-right">
     <img class="media-object" style="padding: 5px" src="{{ url_for('static', filename='bar-graph.png') }}" height="150">
  </div>

    </div>
  </div>
</div>

</div>
{% endblock %}
