{% extends "app.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
 <h4>
  CI run {{ run.id[:20] }}
 </h4>

  <h5>Compare</h5>
  {% for link in comparisons %}
    <p class="fs-6">
      <i class="bi bi-file-diff"></i> <a href="{{ link.url }}">{{ link.text }}</a> {{ link.badge | safe }}
    </p>
  {% endfor %}

  <div class="col-md-12">
    <h5>Benchmark results in this CI run</h5>
    <table id="benchmarks" class="table table-hover small">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col" style="width: 70px">Lang</th>
          <th scope="col" style="width: 80px">Benchmark name</th>
          <th scope="col">Case permutation</th>
          <th scope="col" style="width: 55px">Mean</th>
          <th scope="col" style="width: 55px">Error</th>
        </tr>
      </thead>
      <tbody>
        {% for benchmark in benchmarks %}
          <tr>
            <td style="white-space: nowrap;"><code>{{ benchmark.display_timestamp }}</code></td>
            <td>{{ benchmark.display_language }}</td>
            <td>
              <a href="{{ url_for('app.batch', batch_id=benchmark.batch_id) }}">{{ benchmark.display_bmname }}</a>
            </td>
            <td>
              <a href="{{ url_for('app.benchmark-result', benchmark_result_id=benchmark.id) }}">{{
              benchmark.display_case_perm }}</a>
            </td>
            <td style="white-space: nowrap;">{{ benchmark.display_mean }}</td>
            <td>
              {% if benchmark.error %}
                <a href="{{ url_for('app.benchmark-result', benchmark_result_id=benchmark.id) }}">
                  <i class="glyphicon glyphicon-exclamation-sign text-danger"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="Has error">
                  </i><span>Error</span></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- why would the run detail page be rendered w/o a run? -->
    {% if run %}
      <h5>Details</h5>
      <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item">
            Commit:
            <div align="right" style="display:inline-block; float: right;">
              <a href="{{ run.commit.url }}">{{ run.commit.display_message }}</a>
            </div>
          </li>
          <li class="list-group-item" style="overflow-y: auto;">
            Timestamp:
            <div align="right" style="display:inline-block; float: right;">{{ run.timestamp }}</div>
          </li>
          <li class="list-group-item" style="overflow-y: auto;">
            Finished Timestamp:
            <div align="right" style="display:inline-block; float: right;">{{ run.finished_timestamp }}</div>
          </li>
          <li class="list-group-item" style="overflow-y: auto;">
            Error:
            <div align="right" style="display:inline-block; float: right;">{{ run.error_type }}</div>
          </li>
          {% if run.error_info %}
            <li class="list-group-item active">Error Info</li>
            {% for k,v in run.error_info.items() %}
              <li class="list-group-item" style="overflow-y: auto;">
                <b>{{ k }}</b>
                {% if v is not none %}
                  <div align="right" style="display:inline-block; float: right;">{{ v }}</div>
                {% endif
                %}
              </li>
            {% endfor %}
          {% endif %}
          {% if run.info %}
            <li class="list-group-item active">Info</li>
            {% for k,v in run.info.items() %}
              <li class="list-group-item" style="overflow-y: auto;">
                <b>{{ k }}</b>
                {% if v is not none %}
                  <div align="right" style="display:inline-block; float: right;">{{ v }}</div>
                {% endif
                %}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <br />
      <form method="post" id="run-form">
        {{ form.hidden_tag() }}
        <input class="btn btn-danger"
               id="delete"
               name="delete"
               type="button"
               value="Delete Run" />
      </form>
      <br />

    {% endif %}
  {% endblock %}
  {% block scripts %}
    {{ super() }}
    {{ resources | safe }}
    <script type="text/javascript">
    var table = $('#benchmarks').dataTable({
        "responsive": true,
        // Take rather precise control of layouting elements, put bottom elements
        // into a mult-col single row, using BS's grid system.
        "dom": 'lfrt<"row"<"col-6"i><".col-6"p>>',
        "order": [[5, 'asc']],
        "columnDefs": [{ "orderable": false, "targets": [4] }],
        initComplete: function () {
            var api = this.api();
            //api.columns.adjust();
            $('.pagination').addClass('pagination-sm'); // add BS class for smaller pagination bar
        },
    });

    column_search_implementation($('#benchmarks'));

    $(document).ready(function () {
        {% if run_id %}
        $("#run-form").find("#delete").attr("type", "button");
        $("#run-form").find("#delete").attr("data-bs-toggle", "modal");
        $("#run-form").find("#delete").attr("data-bs-target", "#confirm-delete");
        $("#run-form").find("#delete").attr("data-cbcustom-form-id", "#run-form");
        $("#run-form").find("#delete").attr("data-cbcustom-href", "{{ url_for('app.run', run_id=run_id) }}");
        $("#run-form").find("#delete").attr("data-cbcustom-message", "<ul><li>Delete run: <strong>{{ run_id }}</strong></li></ul>");
        {% endif %}
    });

    $(document).ready(function () {
        {% for plot in plot_history %}Bokeh.embed.embed_item({{ plot | safe }});{% endfor %}
    document.getElementById("bokeh-carousel").style.visibility = "visible";
    });
    </script>
  {% endblock %}
