{% extends "app.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <h1>CI run {{ run.id[:20] }}</h1>

  <div class="mt-2">
    <h4>Details</h4>
    <ul>
      <li>
        for commit: <a href="{{ run.commit.url }}">{{ run.commit.display_message }}</a>
      </li>
      <li>
        created at: {{ run.timestamp }}
      </li>
      <li>
        finished at: {{ run.finished_timestamp }}
      </li>
      <li>
        error: <pre>{{ run.error_type }}</pre>
      </li>
      {% if run.error_info %}
        <li>
          error detail: <br>
          <pre>
            {% for k,v in run.error_info.items() %}
              {{ k }}:{{ v }}
            {% endfor %}
          </pre>
        </li>
      {% endif %}

      {% if run.info %}
        <li>
          run info: <br>
          <pre>
            {% for k,v in run.info.items()() %}
              {{ k }}:{{ v }}
            {% endfor %}
          </pre>
        </li>
      {% endif %}
    </ul>
</div>

  <div class="mt-4">
    <h3>Compare results</h3>
    <p>Compare the results obtained in the displayed CI run to previously obtained results:</p>
    {% for link in comparisons %}
      <p class="fs-6">
        <i class="bi bi-file-diff"></i> <a href="{{ link.url }}">{{ link.text }}</a> {{ link.badge | safe }}
      </p>
    {% endfor %}
  </div>

  <div class="mt-4">
    <h3>Results in this CI run</h3>
    <table id="benchmarks" class="table table-hover small">
      <thead>
        <tr>
          <th scope="col">benchmark start time</th>
          <th scope="col" style="width: 120px">benchmark name</th>
          <th scope="col">case permutation</th>
          <th scope="col" style="width: 55px">mean</th>
          <th scope="col" style="width: 55px">error</th>
        </tr>
      </thead>
      <tbody>
        {% for benchmark in benchmarks %}
          <tr>
            <td style="white-space: nowrap;">{{ benchmark.display_timestamp }}</td>
            <td>
              <a href="{{ url_for('app.batch', batch_id=benchmark.batch_id) }}">{{ benchmark.display_bmname }}</a>
            </td>
            <td>
              <a href="{{ url_for('app.benchmark-result', benchmark_result_id=benchmark.id) }}">{{
              benchmark.display_case_perm }}</a>
            </td>
            <td style="white-space: nowrap;">{{ benchmark.display_mean }}</td>
            <td>
              {% if benchmark.error %}
                <a href="{{ url_for('app.benchmark-result', benchmark_result_id=benchmark.id) }}">
                  <i class="glyphicon glyphicon-exclamation-sign text-danger"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="Has error">
                  </i><span>Error</span></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  <div class="mt-4">
    <form method="post" id="run-form">
      {{ form.hidden_tag() }}
      <input class="btn btn-outline-info btn-sm"
             id="delete"
             name="delete"
             type="button"
             value="Delete Run" />
    </form>
  </div>
  {% endblock %}
  {% block scripts %}
    {{ super() }}
    {{ resources | safe }}
    <script type="text/javascript">
    var table = $('#benchmarks').dataTable({
        "responsive": true,
        // Take rather precise control of layouting elements, put bottom elements
        // into a mult-col single row, using BS's grid system.
        "dom": 'lfrt<"row"<"col-6"i><".col-6"p>>',
        "order": [[0, 'asc']],
        "columnDefs": [{ "orderable": false, "targets": [4] }],
        initComplete: function () {
            var api = this.api();
            //api.columns.adjust();
            $('.pagination').addClass('pagination-sm'); // add BS class for smaller pagination bar
        },
    });

    column_search_implementation($('#benchmarks'));

    $(document).ready(function () {
        $("#run-form").find("#delete").attr("type", "button");
        $("#run-form").find("#delete").attr("data-bs-toggle", "modal");
        $("#run-form").find("#delete").attr("data-bs-target", "#confirm-delete");
        $("#run-form").find("#delete").attr("data-cbcustom-form-id", "#run-form");
        $("#run-form").find("#delete").attr("data-cbcustom-href", "{{ url_for('app.run', run_id=run.id) }}");
        $("#run-form").find("#delete").attr("data-cbcustom-message", "delete run: {{ run.id }}");
    });

    </script>
  {% endblock %}
