{% if current_user.is_anonymous %}
    {% extends "base.html" %}
{% else %}
    {% extends "app.html" %}
{% endif %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
    {% for plot in plots %}
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">{{ names[loop.index - 1].replace('..', '/') }}
              <div align="right" style="display:inline-block; float: right;">
              <a href="{{ url_for('app.benchmark-series', benchmark_name=names[loop.index - 1]) }}">
              <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
              </div>
              </h3>
          </div>
          <br />
          <a href="{{ url_for('app.benchmark-series', benchmark_name=names[loop.index - 1]) }}">
            <div id="plot{{ loop.index }}" align="center"></div>
          </a>
          <br />
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
{{super()}}
{{ resources | safe }}
<script type="text/javascript">
$(document).ready(function() {
    {% for plot in plots %}
        Bokeh.embed.embed_item({{ plot | safe }});
        $('#tooltip{{ loop.index }}').tooltip()
    {% endfor %}
});
</script>
{% endblock %}
