<span id="unit-tooltip" data-toggle="tooltip" data-html="true" data-placement="bottom" title="
<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>Percent changed compares the baseline metric with the contender metric (using the mean of all iterations for both).
</ul>
<br>

<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>Z-score compares the contender metric with the entire distribution history of a given benchmark. Z-scores close to 0 show little difference with past performance.
</ul>
<br>

<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>Regardless of units, a negative percent changed or z-score is worse performance.
</ul>
<br>

<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>z: z-score
</ul>
<br>

<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>B/s: bytes per second
<li>KiB/s: kibibytes per second
<li>MiB/s: mebibytes per second
<li>GiB/s: gibibytes per second
<li>TiB/s: tebibytes per second
</ul>
<br>

<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>i/s: items per second
<li>K i/s: thousand items per second
<li>M i/s: million items per second
<li>G i/s: billion items per second
</ul>

<br>
<ul style='list-style-type: none; padding: 0; margin: 0;'>
<li>s: seconds
<li>ms: milliseconds
<li>ns: nanoseconds
</ul>
" align="right" style="display:inline-block; float: right;" class="glyphicon glyphicon-question-sign submenu">
</span>
