{% macro view_entity_title(maintitle, subtitle) -%}
<div class="cb-title">
  <h1 class="display-6">{{maintitle}}</h1>
  <div class="small text-muted cb-subtitle font-monospace">{{subtitle}}</div>
  <hr>
</div>
{%- endmacro %}