body,
html {
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 15px;
  color: #777777;
}

/* fix datatable sorting icons */
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
  background : none;
}

/* fix blue border on button click */
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.breadcrumb a {
  color: #1F77B4;
}

[data-href] {
  cursor: pointer;
}

.table.dataTable a {
  color: #1F77B4;
}

.table.dataTable caption a {
  color: #1F77B4;
  font-weight: bold;
}

.table.dataTable caption {
  color: #1F77B4;
}

.submenu {
  color: #1F77B4;
}

.flash-message {
  position: relative; top: -20px;
  color: #737373;
}

.tooltip-inner {
  background-color: #282828;
  max-width: 250px;
  width: 250px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #282828;
  border-width: 0 5px 5px;
}

.carousel-control.left,.carousel-control.right {
  background:none;
  width:30px;
}
.carousel-control.left {
  left:-30px;
  color: #999999;
}
.carousel-control.right {
  right:-30px;
  color: #999999;
 }
.bokeh-carousel {
}

.ellipsis-175 {
  width: 175px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis-500 {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
