body,
html {
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 15px;
  color: #777777;
  font-size: 14px;
}

.c-bench-landing div.card {
  font-size: 12px;
}


.c-bench-scrollbar {
  /* Foreground, Background */
  scrollbar-color: #812570 #f3f3f3;
  scrollbar-width: thin;
}
.c-bench-scrollbar::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 7px; /* Mostly for horizontal scrollbars */
}
.c-bench-scrollbar::-webkit-scrollbar-thumb { /* Foreground */
  background: #81257088;
  border-radius: 2px;
}
.c-bench-scrollbar::-webkit-scrollbar-track { /* Background */
  background: #f3f3f3;
  border-radius: 3px;
}

div.case-param-title {
  border-bottom: 1px solid #81257022;
  padding-bottom: 2px;
  padding-left: 2px;
  background-color: #f3f3f3;
}

div.case-param-values {
  height: 70px;
  overflow: auto;
}

div.case-param-panel {
  width: 125px;
  margin-right: 7px;
}

span.case-parm-value {
  font-family: monospace;
  font-size: 11px;
  padding: 1px;
  margin: 2px
}

span.case-parm-value.selected {
  font-family: monospace;
  background-color: #38BDD155;
}

/* select.caseparm-select {
  overflow: auto !important;
  border: none;
  background: none;
  font-family: monospace;
} */


/* spacing between DT items */
div.dataTables_filter label {
  font-size: 12px;
  margin-left: 10px;
 }


div.cb-tinyplot {
  background-color: #f3f3f3;
  /* make div as wide as content, not as wide as wrapper */
  display: inline-block;

}

/* fix blue border on button click */
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* fix datatable sorting icons */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background : none;
}

/* Remove border around and within pagination bar
   in a datatables presentation */
.dataTables_paginate .page-link {
  border: none;
}

/*
table.dataTable td {
  font-size: 13.4px;
}

.breadcrumb a {
  color: #1F77B4;
}

*/
[data-href] {
  cursor: pointer;
}

.table.dataTable a {
  color: #1F77B4;
}

.table.dataTable caption a {
  color: #1F77B4;
  font-weight: bold;
}

.table.dataTable caption {
  color: #1F77B4;
}

.submenu {
  color: #1F77B4;
}

.flash-message {
  position: relative; top: -20px;
  color: #737373;
}

.tooltip-inner {
  background-color: #282828;
  max-width: 250px;
  width: 250px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #282828;
  border-width: 0 5px 5px;
}

.carousel-control.left,.carousel-control.right {
  background:none;
  width:30px;
}

.carousel-control.left {
  left:-30px;
  color: #999999;
}

.carousel-control.right {
  right:-30px;
  color: #999999;
 }

.carousel-indicators li {
  background: #ccc;
}

.carousel-indicators .active {
  background: #1F77B4;
}

.ellipsis-175 {
  width: 175px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wordbreak-175 {
  width: 175px;
  overflow-wrap: break-word;
}

.ellipsis-500 {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-entry {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
}

.hide-text{
   display: none;
}

.custom-input-text {
  font-weight: normal;
  font-size: 12px;
  padding: 3px;
}

.custom-search-box{
  /*
  Note(JP): the `box-sizing: border-box` is so that padding of the outer
  container is respected when calculating the actual width of the input field.
  Also see https://github.com/twbs/bootstrap/issues/1058#issuecomment-5110547

  I think it makes most sense to set a column-specific width for these search
  boxes. Setting this to 90 % by default works around a per-browser absolute
  default (about ~150 px on Chrome, different on other browsers).

  For setting a column-specific width see below, e.g. va `th.commit-col
  input.custom-search-box { ... }`.
  */
  box-sizing: border-box;
  width: 90%;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}


th.commit-col input.custom-search-box {
  width: 64px;
}

th.reason-col select.custom-search-box {
  width: 70px;
}

.table>thead>tr>th {
  vertical-align: top;
}

select.custom-search-box {
  background: #eee;
}



.message-header{
  font-weight: normal;
  font-size: 10px;
  padding: 3px;
  border-style: dotted;
  border-width: thin;
}
